In [1]:
def somme(a,b):
    return a+b

In [4]:
s=somme(10,20)
s

30

In [3]:
def somme(a : int,b : int) -> int:
    return a+b

In [6]:
s=somme('hello','world')
s

'helloworld'

In [7]:
type(somme)

function

In [8]:
somme.__str__()

'<function somme at 0x00000201CC229BC0>'

In [9]:
somme.count=0

In [10]:
somme.count

0

In [11]:
def calcul(a : int,b : int) -> int:
    return a+b , a*b

In [12]:
s,p=calcul(2,3)

In [13]:
s

5

In [14]:
p

6

In [15]:
_,p=calcul(2,3)

In [17]:
def greet(name, greeting='Hello'):
    # positionnels à gauche
    # optionnels à droite
    return f"{greeting}, {name}!"

In [18]:
greet("Ali")

'Hello, Ali!'

In [19]:
greet("Ali","Bonsoir")

'Bonsoir, Ali!'

In [21]:
greet(name="Ali",greeting="Bonsoir")

'Bonsoir, Ali!'

In [22]:
greet(greeting="Bonsoir",name="Ali")

'Bonsoir, Ali!'

In [39]:
tva=0.1
def calcul_puttc(puht):
    global tva
    if puht>1000 :
        tva=0.2
    return puht*(1+tva)

In [40]:
calcul_puttc(1100)

1320.0

In [41]:
tva

0.2

In [42]:
def fonction_combinee(a, b, *args, **kwargs):
    print(f"a: {a}")
    print(f"b: {b}")
    print(f"args: {args}")
    print(f"kwargs: {kwargs}")
fonction_combinee(1, 2, 3, 4, nom='Alice', age=30)

a: 1
b: 2
args: (3, 4)
kwargs: {'nom': 'Alice', 'age': 30}

In [49]:
fonction_combinee(*[1, 2, 3, 4], nom='Alice', age=30)

a: 1
b: 2
args: (3, 4)
kwargs: {'nom': 'Alice', 'age': 30}

In [53]:
def somme(x,y):
    return x+y

In [54]:
somme=lambda x,y : x+y

In [52]:
somme(2,3)

5

In [55]:
def calcul(operation, a, b):
    return operation(a, b)

In [56]:
def somme(a,b):
    return a+b

In [57]:
calcul(somme,2,3)

5

In [58]:
calcul(lambda x,y : x+y,2,3)

5

In [59]:
calcul(lambda x,y : x*y,2,3)

6

In [1]:
liste = [1, 2, 3, 4, 5] 
liste1 = list(map(lambda x: x * 2, liste))
liste1

[2, 4, 6, 8, 10]

In [2]:
liste1=[]
carree=lambda x: x * 2
for i in range(len(liste)):
    x=carree(liste[i])
    liste1.append(x)
liste1

[2, 4, 6, 8, 10]

In [3]:
liste1 = list(filter(lambda x: x % 2 == 0, liste))
liste1

[2, 4]

In [4]:
filtre=lambda x: x % 2 == 0
filtre(10)

True

In [5]:
liste

[1, 2, 3, 4, 5]

In [6]:
from functools import reduce

reduce(lambda x, y: x + y, liste)

15

In [7]:
users=[{'nom': 'ali', 'email': 'ali@hhhhg', 'phone': '22222'},
 {'nom': 'sonia', 'email': 'sonia@ddd', 'phone': '222'},
 {'nom': 'walid', 'email': 'walid@cfdfd', 'phone': '22222'}]

In [8]:
emails=[]
for i in range(len(users)):
    user=users[i]
    email=user['email']
    emails.append(email)
emails

['ali@hhhhg', 'sonia@ddd', 'walid@cfdfd']

In [9]:
emails=list(map(lambda user:user['email'],users))
emails

['ali@hhhhg', 'sonia@ddd', 'walid@cfdfd']

In [17]:
emails_d=list(filter(lambda email: email.endswith('d'),emails))
emails_d

['sonia@ddd', 'walid@cfdfd']

In [18]:
emails_d=list(filter(lambda email: email.endswith('d'),map(lambda user:user['email'],users)))
emails_d

['sonia@ddd', 'walid@cfdfd']

In [19]:
reduce(lambda email1,email2:email1+';'+email2, emails_d)

'sonia@ddd;walid@cfdfd'

In [20]:
';'.join(emails_d)

'sonia@ddd;walid@cfdfd'

In [24]:
print(*map(lambda user : user['nom'],users), sep='\n')

ali
sonia
walid

In [10]:
email='ffff@ggg.tn'

In [11]:
email.islower()

True

In [12]:
email.isupper()

False

In [13]:
email.isdigit()

False

In [14]:
email.startswith('f')

True

In [15]:
email.endswith('f')

False

Classe User

In [63]:
class Person:
    def __init__(self, nom=""):
        self.nom=nom

In [70]:
class User(Person):
    '''
    Classe quirepresente une personne

       Return :
    '''
    def __init__(self, nom="",email="", phone=""):
        '''
        
        '''
        super().__init__(nom)
        self.phone=phone
        self.email=email
    def nom_valide(self):
        return self.nom.isalpha()
    def __eq__(self,user):
        return self.nom.lower()==user.nom.lower()
    def __str__(self):
        return f"User nom:{self.nom}, email:{self.email}"

In [72]:
u1=User("Ali","ali@fff","122222")
u2=User("ali")

In [66]:
u1==u2

True

In [67]:
u1.nom

'Ali'

In [68]:
u2.nom

'ali'

In [69]:
u1.nom_valide()

True

In [43]:
u2.nom_valide()

False

In [73]:
str(u1)

'User nom:Ali, email:ali@fff'

In [74]:
print(u1)

User nom:Ali, email:ali@fff

In [75]:
u1.__str__()

'User nom:Ali, email:ali@fff'

In [88]:
# Exception
try:
    nombre1=int(input("Entrez valeur"))
    nombre2=int(input("Entrez valeur"))
    res=nombre1/nombre2
    print(res)
except ZeroDivisionError:
    print('Erreur de division par 0 !')
except ValueError :
    print('Erreur La valeur entrée est nin numerique !')
else:
    print('Congrat !!')
finally:
    print('fin de calcul !')

1.5
Congrat !!
fin de calcul !