Contre exemple sans numpy

In [3]:
salaires=[1200,1400,1300.75]
salaires

[1200, 1400, 1300.75]

In [4]:
primes=[100,130,110]
primes

[100, 130, 110]

In [5]:
# L'opération + entre deux listes est inadequates !!
# concatenation
revenues=salaires+primes
revenues

[1200, 1400, 1300.75, 100, 130, 110]

In [6]:
revenues=list(map(lambda salaire,prime:salaire+prime,salaires,primes))
revenues

[1300, 1530, 1410.75]

Alternative avec numpy

In [8]:
import numpy as np

Vecteurs

In [15]:
salaires=np.array([1200,1400,1300.75], dtype=np.float32)
primes=np.array([100,130,110], dtype=np.int16)

In [10]:
type(salaires)

numpy.ndarray

In [11]:
salaires.ndim

1

In [12]:
salaires.shape

(3,)

In [13]:
salaires.dtype

dtype('float64')

In [16]:
primes.dtype

dtype('int16')

In [17]:
salaires+primes

array([1300.  , 1530.  , 1410.75], dtype=float32)

In [20]:
coefs=np.array([1.2,0.9,1.3])
salaires_new=salaires*coefs
salaires_new

array([1440.   , 1260.   , 1690.975])

In [21]:
salaires_new.sum()

np.float64(4390.975)

In [22]:
sum(salaires_new)

np.float64(4390.975)

In [23]:
salaires_new.mean() # moyenne

np.float64(1463.6583333333335)

In [24]:
salaires_new.std() # ecart type

np.float64(176.738319195986)

In [25]:
ages1=np.array([20,30,40])
ages1.mean()

np.float64(30.0)

In [26]:
ages2=np.array([29,30,31])
ages2.mean()

np.float64(30.0)

In [27]:
ages1.std()

np.float64(8.16496580927726)

In [28]:
ages2.std()

np.float64(0.816496580927726)

Matrices

In [42]:
employes=np.array([[1200,28],[1300.,35],[1000,30]], dtype=np.float32)
employes

array([[1200.,   28.],
       [1300.,   35.],
       [1000.,   30.]], dtype=float32)

In [43]:
employes.ndim

2

In [44]:
employes.shape

(3, 2)

In [45]:
nl=employes.shape[0] # nombre de lignes de la matrice = nb d'employés
nl

3

In [46]:
nc=employes.shape[1] # nombre de colonnes de la matrice = nb de caracteristiques (colonnes ou features ou variables)
nc

2

In [47]:
employes.dtype

dtype('float32')

In [49]:
primes

array([100, 130, 110], dtype=int16)

Accès aux  données

In [50]:
employes[0,0] # salaire de premier employes

np.float32(1200.0)

In [51]:
employes[-1,-1] # derniere colonne (age) de dernier employé

np.float32(30.0)

In [52]:
employes[:,0] # premiere colonne

array([1200., 1300., 1000.], dtype=float32)

In [54]:
employes[:,-1] # deuxieme/derniere colonne

array([28., 35., 30.], dtype=float32)

In [55]:
employes[[0,-1],:] # recuperer ^premier et dernier employes

array([[1200.,   28.],
       [1000.,   30.]], dtype=float32)

In [56]:
employes

array([[1200.,   28.],
       [1300.,   35.],
       [1000.,   30.]], dtype=float32)

In [57]:
employes[:,0]=employes[:,0]+primes
employes

array([[1300.,   28.],
       [1430.,   35.],
       [1110.,   30.]], dtype=float32)

In [61]:
np.vstack([primes,np.zeros(employes.shape[0])]).T

array([[100.,   0.],
       [130.,   0.],
       [110.,   0.]])

In [58]:
np.zeros(employes.shape[0])

array([0., 0., 0.])

In [62]:
salaires+100

array([1300.  , 1500.  , 1400.75], dtype=float32)

In [63]:
noms=['Ali','Ahmed','Sonia']
noms

['Ali', 'Ahmed', 'Sonia']

In [64]:
salaires

array([1200.  , 1400.  , 1300.75], dtype=float32)

In [65]:
salaires.max()

np.float32(1400.0)

In [67]:
idx_max_salaire=salaires.argmax()
idx_max_salaire

np.int64(1)

In [68]:
noms[idx_max_salaire]

'Ahmed'

In [69]:
noms[salaires.argmax()]

'Ahmed'

In [70]:
salaires.sort()

In [71]:
salaires

array([1200.  , 1300.75, 1400.  ], dtype=float32)

In [72]:
np.sort(primes)

array([100, 110, 130], dtype=int16)

In [74]:
primes.sort()

In [75]:
primes

array([100, 110, 130], dtype=int16)

In [77]:
poids=np.array([1,5,2])
np.sort(poids)

array([1, 2, 5])

In [78]:
poids

array([1, 5, 2])

In [80]:
# sorted(poids)

In [81]:
np.argsort(poids)

array([0, 2, 1])

In [82]:
salaires=[1200,1400,1000]

In [83]:
salaires[:1]

[1200]

In [84]:
salaires[1:]

[1400, 1000]

In [86]:
salaires[-1:1:-1]

[1000]

In [88]:
salaires[::-1]

[1000, 1400, 1200]

<b>Exercice</b>

Soient 3 produits caractérisés par : 
- leurs noms
- leurs prix unitaire hors taxe
- leurs quantités

On veut comparer une requête à ces 3 produits et recupérer le produit le plus proche de la requête.

Pour le faire, on va utiliser Numpy pour représenter ces données et appliquer les opérations necessaires.

Représentation des données

In [100]:
# les noms sont représentés par une liste
noms=['TV','RFG','MO']

In [105]:
# première colonne est prix (puht)
# deuxieme colonne est quantité
produits=np.array([[200.75,10],
                    [150,16],
                    [170,12]])
produits

array([[200.75,  10.  ],
       [150.  ,  16.  ],
       [170.  ,  12.  ]])

In [106]:
# requête est composée d'un prix et une quantité
requete=np.array([150,15])
requete

array([150,  15])

In [107]:
3**2 # ** est l'opérateur puissance

9

Solution:

Calculer la distance euclidienne entre les informations des produits et les informations de la requête.

Puis déterminer le nom de produit qui a la distance la plus petite (en utilisant la fonctio  np.argmin)

In [108]:
noms[np.argmin(np.sqrt(np.sum(((produits-requete)**2), axis=1)))]

'RFG'

Explication de la fonction np.sum

In [109]:
X=np.array([[1,1],[2,2]])
X

array([[1, 1],
       [2, 2]])

In [110]:
np.sum(X)

np.int64(6)

In [111]:
np.sum(X, axis=0) # calcul de la somme s'effectue sur axis=0 (vertical)

array([3, 3])

In [112]:
np.sum(X, axis=1) # calcul de la somme s'effectue sur axis=1 (horizontal)

array([2, 4])